<html>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Lec02 GET!</h1>
  <div th:if="${username}">
    <h1>Hi [[${username}]]</h1>
  </div>
  <div>
    <div th:if="${users}">
      <p>エントリー</p>
      <ul>
        <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
      thが指定されているので[]が不要になる-->
        <li th:each="user : ${users}"><a th:href="@{/match(id=${user.id})}">[[${user.id}]] [[${user.name}]]</a></li>
      </ul>
    </div>
  </div>
  <div>
    <h1>アクティブな試合</h1>
    <p th:each="info : ${info}">
      id:[[${info.id}]]
      user1:[[${info.user1}]]
      user2:[[${info.user2}]]
      isActive:[[${info.isActive}]]
    </p>
  </div>
  <div>
    <h1>試合結果</h1>
    <p th:each="match : ${matches}">
      id:[[${match.id}]]
      user1:[[${match.user1}]]
      user2:[[${match.user2}]]
      user1の手:[[${match.user1Hand}]]
      user2の手:[[${match.user2Hand}]]
    </p>
  </div>

</body>

</html>
