<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>じゃんけん</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <a href="/lec02">もどる</a>
  <h1>Match</h1>
  <h2>[[${user1}]] V.S. [[${user2}]]</h2>
  <div class="janken">
    <a th:href="@{/match/gu/{id}(id=${id})}">グー</a>
    <a th:href="@{/match/choki/{id}(id=${id})}">チョキ</a>
    <a th:href="@{/match/pa/{id}(id=${id})}">パー</a>
  </div>
  <div th:if="${judge}">
    <p>あなたの手 [[${myhand}]]</p>
    <p>相手の手[[${yourhand}]]</p>
    <p>結果 [[${judge}]]</p>
  </div>

</body>

</html>
